<%= simple_form_for(@playlist) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :artist %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
